# Ignore these folders
.config/
Properties/
bin/
obj/

# Ignore these files
RentMateAPI.csproj
RentMateAPI.csproj.user
RentMateAPI.http
appsettings.Development.json
appsettings.json
appsettingsTemplate.Development.json
